---
import Layout from '../components/Layout.astro'
---

<Layout title="Home">
  <main class="container">
    <h1>Vana mehe</h1>
    <p>Huutismint</p>

    <img src="/images/kolmio.gif" alt="kattilakissa" class="kolmio-gif" loading="lazy" />

  </main>
</Layout>
